*~
*.swp
.DS_STORE

.idea
*.pyc
node_modules/
arachnado/static/build/
npm-debug.log
*.ipynb*
arachnado.egg-info/
build/
dist/
.tox/
.cache
error.log
bot_engines/
bot_spiders/
.coverage
.coverage.*
htmlcov/
.scrapy
docs/_build
