scrapy == 1.1.0
tornado == 4.2      # tornado==4.3 seems to cause problems
psutil == 4.2.0
Twisted == 16.2.0
motor == 0.6.2
pymongo==2.8        # required for motor 0.6.2
docopt == 0.6.2
service_identity
json-rpc==1.10.3
croniter == 0.3.12
autopager == 0.2
autologin-middleware == 0.1.4
scrapy-splash
scrapy_redis
elasticsearch
six
boto
w3lib>=1.17.0
numpy
